<!DOCTYPE HTML>
<html>
<head>
<title>Gella Fashion Training</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Vogue Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>-->
<link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
<script src="assets/js/jquery-1.11.0.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="assets/js/move-top.js"></script>
<script type="text/javascript" src="assets/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>

<body>
<!--banner-starts-->
<!--banner-starts-->
<div class="banner about-banner">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="assets/images/Gella_logo.png" alt="" /></a>
        </div>
        <div class="banner-top about-banner-text">
            <p>Become A Fashion Professional</p>
        </div>
    </div>
</div>
<!--banner-ends-->
<!--banner-ends--> 

<!--header-starts-->
<div class="header-bottom">
 <div class="fixed-header">
    <div class="container">
        <div class="top-menu">
                <span class="menu"><img src="assets/images/nav-icon.png" alt="" /></span>
                <ul class="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="collections.html">Collections</a></li>
                    <li><a class="active" href="training.html">Training</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>	
                <!-- script for menu -->
                    <script>
                    $( "span.menu" ).click(function() {
                      $( "ul.nav" ).slideToggle( "slow", function() {
                        // Animation complete.
                      });
                    });
                </script>
                <!-- script for menu -->
        </div>
        <div class="header-right">
            <ul>
                <li><a href="#"><span class="fb"></span></a></li>
                <li><a href="#"><span class="google"></span></a></li>
                <li><a href="#"><span class="twit"></span></a></li>
            </ul>
        </nav>		
        </div>
        <div class="clearfix"></div>
        <script>
    $(document).ready(function() {
         var navoffeset=$(".header-bottom").offset().top;
         $(window).scroll(function(){
            var scrollpos=$(window).scrollTop(); 
            if(scrollpos >=navoffeset){
                $(".header-bottom").addClass("fixed");
            }else{
                $(".header-bottom").removeClass("fixed");
            }
         });
         
    });
    </script>
    </div>
 </div>
 </div>
<!--header-ends-->

<div class="content">
    <div class="services">
        <div class="container">
            <div class="service-in">
                <div class="col-sm-4 span_2">
                    <a href="#" class="mask">
                    	<img src="assets/images/z1.jpg" alt="image" class="img-responsive zoom-img">
                    </a>
                    <div class="number-top">
                        <span class="number">01.</span>
                        <div class="number-in">
                            <h6>Our Training</h6>
                            <p>Our program is designed with a very robust curriculum that ensures you are well equipped with the best fashion skills.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="border"> </div>
                </div>
                <div class="col-sm-4 span_2">
                    <a href="#" class="mask">
                        <img src="assets/images/z1.jpg" alt="image" class="img-responsive zoom-img">
                    </a>
                    <div class="number-top">
                        <span class="number">02.</span>
                        <div class="number-in">
                            <h6>The Instructors</h6>
                            <p>Our Instructors are dedicated to helping you learn all the best skills of the industry, we provide mentorship as well.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="border"> </div>
                </div>
                <div class="col-sm-4 span_2">
                    <a href="#" class="mask">
                        <img src="assets/images/z1.jpg" alt="image" class="img-responsive zoom-img">
                    </a>
                    <div class="number-top">
                        <span class="number">03.</span>
                        <div class="number-in">
                            <h6>Your Career</h6>
                            <p>With our training, you are guaranteed of getting the best footing in your fashion career. Why delay any further?</p>
                        </div>
                        <div class="clearfix"> </div>
                	</div>
                	<div class="border"> </div>
                </div>
            	<div class="clearfix"> </div>
            </div>	
        </div>
        <div class="service-top-in">
            <div class="container">
                <h5 class="best">FASHION CAREER</h5>
                <div class="ser-at">
                <p>The Gella Fashion Training program is open to everyone who wants to become a leader in the fashion industry. We are confident that by your joining us, the goal for your fashion career will be met. Fill the Training registration form below to get started!</p>
                
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        
    </div>
</div>

<div class="contact-form" style="margin-top: 0;">
    <div class="container flex-in">
        <h4 style="margin-bottom: 10px; ">REGISTER HERE</h4>
        <form>
            <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
            <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
            <input type="text" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
            <textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
            <button class="btn1 btn-1 btn-1b">Submit</button>
        </form>
    </div>
</div>



<!--footer-->
<div class="footer">
 <div class="container">				 	
     <div class="col-md-3 col-sm-6 ftr_navi ftr">
         <h3>Quick Navigation</h3>
         <ul>
             <li><a href="index.html">Home</a></li>
             <li><a href="about.html">About</a></li>
             <li><a href="gallery.html">Training</a></li>						
             <li><a href="contact.html">Contact</a></li>
         </ul>
     </div>
     <div class="col-md-3 col-sm-6 ftr_navi ftr">
         <h3>Collections</h3>
         <ul>
             <li><a href="#">Men Collections</a></li>
             <li><a href="#">Women Collections</a></li>
             <li><a href="#">Kids Collection</a></li>						
             <li><a href="#">Native Attires</a></li>
             
         </ul>
     </div>
     <div class="col-md-3 col-sm-6 get_in_touch ftr">
          <h3>Get In Touch</h3>
          <p>No_70, Udu Road</p>
          <p>Odibo Round-About</p>
          <p>Warri, Delta State.</p>
          <a href="mailto:mail@mlampah.com">Info@GellaFashion.com</a>
     </div>
     <div class="col-md-3 col-sm-6 ftr-logo">
          <a href="index.html"><img src="assets/images/Gella_logo.png" alt=""/></a>
         <p>?? 2017 Design by <a href="http://linkorion.com">LinkOrion</a></p>
     </div>
    <div class="clearfix"> </div>
 </div>
</div>
<!--/footer-->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
	</div>
	<!--footer-starts-->
</body>
</html>
